/*Styling for Nav*/
#nav-bar{
    
    height:80px ;
    background-color:#00a087 ;
    color:#e8fdff ;
    width: 100%;
    padding-left: 2em;
    padding-right: 2em; 
    position: fixed;
    top: 0;
    z-index: 1;
   
}

#nav-bar .logo{
	height: 80px;
	width:  80px;
	float: left;
	padding-right: 10px;
	 
}

#nav-bar .header{
	float: left;
    line-height: 70px; 
    font-size:  200%;
    padding-left: 10px;
}

#nav-bar .composeToggle{
    float: right;
    margin:20px;
    opacity: 0.7;
}   

#nav-bar .composeToggle:hover{
    opacity: 1.0;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
   
}


