/*Styling for new tweets*/
section.new-tweet{
	padding-left: 20px;
	padding-right: 20px;
	border-radius: 15px;
	background-color: #eee;
	height: 135px;
	
}
.new-tweet h2 {
border-bottom: 2px solid;
text-align: left;
}

textarea {
	width: 100%;
}

.new-tweet input{
	float: left;

}

span.counter{
	float: right;
}

